* {
    padding: 0;
    margin: 0;
}

.container {
    background-image: url('pattern-background-desktop.svg');
}

.card-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
}

img {}
w
.card {}